.logo {
    font-size: 24px;
    color: #F9FAF8;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

ul {
    list-style-type: none;
    font-size: 18px;
    

}

.hero, .copyright {
    background-color: #1F2937;
     color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
     color: #F9FAF8;
     display: flex;
     flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.action {

}

button, .end {
    background-color: #3882F6
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


div {
    border: 1px solid green;
}
