.logo {
    font-size: 24px;
    color: #F9FAF8;
    /* margin-left: 100px; */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

ul {
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    gap: 12px;
    display: flex;
}

.header-list {
    display: flex;
    flex-direction: row;
}

.hero, .copyright {
    background-color: #1F2937;
     color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
     color: #F9FAF8;
     display: flex;
     flex: 1;
     flex-direction: column;

}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}


.web-body {
    display: flex;
    margin: 100px 300px;
    justify-content: center;
    /* text-wrap: wrap; */
}

.web-image img {
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}


.awesome-website { 
    display: flex;
    flex-direction: column;
}





.subtext {
    font-size: 18px;
    color: #E5E7EB;
}


.random-info { 
    flex: 1;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
    flex: 1;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.action {

}

button, .end {
    background-color: #3882F6
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


div {
    /* border: 1px solid green; */
}


.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 300px;
}

button {
    background-color: #3882F6;
    width: 100px;
    color: white;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}